@media screen and (max-width: 320px) {
  .footer {
    background-color: #010a20;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .logo-wrapper {
    display: flex;
    justify-content: center;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
  }
  .logo-img {
    margin-right: 10px;
  }
  .footer-logo-text-item {
    color: #dd2242;
  }
  .footer-navigation {
    text-align: center;
    margin-top: 50px;
  }
  .footer-list-item {
    margin-bottom: 40px;
  }
  .footer-list-item:last-child {
    margin-bottom: 0;
  }
  .footer-list-item-link {
    font-weight: 700;
    font-size: 20px;
  }
  .footer-network-list {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    align-items: center;
    align-content: center;
  }

  .footer-network-list-item-link {
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  .footer-network-list-item-link:hover {
    background-color: #00aaff;
    color: #fff;
  }
  .footer-text {
    text-align: center;
    font-weight: 600;
  }
}

/*? ============================320-480========================================= */
@media screen and (max-width: 480px) {
  .footer {
    background-color: #010a20;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .logo-wrapper {
    display: flex;
    justify-content: center;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
  }
  .logo-img {
    margin-right: 10px;
  }
  .footer-logo-text-item {
    color: #dd2242;
  }
  .footer-navigation {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .footer-list-item {
    margin-bottom: 40px;
  }
  .footer-list-item:last-child {
    margin-bottom: 0;
  }
  .footer-list-item-link {
    font-weight: 700;
    font-size: 20px;
  }
  .footer-network-list {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    align-items: center;
    align-content: center;
  }

  .footer-network-list-item-link {
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  .footer-network-list-item-link:hover {
    background-color: #00aaff;
    color: #fff;
  }
  .footer-text {
    text-align: center;
    font-weight: 600;
  }
}

/*? ============================480-768========================================= */

@media screen and (min-width: 481px) {
  .footer {
    background-color: #010a20;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
  }
  .footer-wrapper,
  .footer-wrapper-1 {
    display: flex;
    justify-content: space-between;
  }
  .logo-wrapper {
    display: flex;
    margin-right: 20px;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
  }
  .logo-img {
    margin-right: 10px;
    height: 40px;
  }
  .footer-navigation {
    display: flex;
    align-items: center;
  }
  .footer-logo-text-item {
    color: #dd2242;
  }
  .footer-list {
    display: flex;
    gap: 10px;
  }
  .footer-list-item-link {
    font-size: 10px;
  }

  .footer-network-list {
    display: flex;
    justify-content: center;
    gap: 5px;

    align-items: center;
    align-content: center;
  }

  .footer-network-list-item-link {
    font-weight: 800;
    font-size: 10px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  .footer-network-list-item-link:hover {
    background-color: #00aaff;
    color: #fff;
  }
  .footer-text {
    text-align: center;
    font-weight: 600;
    font-size: 9px;
    display: flex;
    align-items: center;
  }
}

/*? ============================768-1000========================================= */
@media screen and (min-width: 768px) {
  .footer-wrapper-1 {
    width: 180px;
  }
}

/*? ============================1000-1280========================================= */
@media screen and (min-width: 1000px) {
}
/*? ============================1280========================================= */
@media screen and (min-width: 1280px) {
  .footer-network-list-item-link {
    font-size: 24px;
  }
  .footer-network-list {
    gap: 20px;
  }
  .footer-wrapper-1{
    gap: 20px;
  }
}
