@media screen and (max-width: 320px) {
  .gallery {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .gallery-title {
    color: black;
    text-align: center;
    margin-bottom: 10px;
  }

  .gallery-text {
    color: #6c6c6c;
    text-align: center;
    margin-bottom: 20px;
  }


/* Макет галереї */
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Дві колонки однакової ширини */
  gap: 10px; /* Невеликий відступ між зображеннями */
  max-width: 400px;
  margin: 0 auto;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.gallery-grid-img-1 {
  grid-row: span 2; /* Перший елемент займає два ряди */
}
.gallery-grid-img-3{
 grid-row: span 2;
}
}

/*? ============================320-480========================================= */
@media screen and (max-width: 480px) {
  .gallery {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 40px;
    margin-left: 40px;
  }
  .gallery-title {
    color: black;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
  }

  .gallery-text {
    color: #6c6c6c;
    text-align: center;
    margin-bottom: 20px;
  }


/* Макет галереї */
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Дві колонки однакової ширини */
  gap: 10px; /* Невеликий відступ між зображеннями */
  max-width: 400px;
  margin: 0 auto;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.gallery-grid-img-1 {
  grid-row: span 2; /* Перший елемент займає два ряди */
}
.gallery-grid-img-3{
 grid-row: span 2;
}
}

/*? ============================480-768========================================= */

@media screen and (min-width: 481px) {
   .gallery {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 40px;
    margin-left: 40px;
  }
  .gallery-title {
    color: black;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
  }

  .gallery-text {
    color: #6c6c6c;
    text-align: center;
    margin-bottom: 20px;
  }


/* Макет галереї */
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Дві колонки однакової ширини */
   grid-template-rows: 70px 100px 70px; /* Висоти рядків */
  gap: 10px; /* Невеликий відступ між зображеннями */
  max-width: 400px;
  margin: 0 auto;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.gallery-grid-img-1 {
  grid-row: span 2; /* Перший елемент займає два ряди */
}

.gallery-grid-img-3{
grid-column: 2;
 grid-row: span 2;
}
.gallery-grid-img-4{
 grid-column: 1;

}
.gallery-grid-img-5{
 grid-column: 3;
  grid-row: 1;
 

}
.gallery-grid-img-6{
   grid-column: 3;
   grid-row: 2;
}
.gallery-grid-img-2-1 {
 grid-column: 3;
   grid-row: 3;
}

}

/*? ============================768-1000========================================= */
@media screen and (min-width: 768px) {
}

/*? ============================1000-1280========================================= */
@media screen and (min-width: 1000px) {
}
/*? ============================1280========================================= */
@media screen and (min-width: 1280px) {
}
