
@media screen and (max-width: 320px) {
  /* ==================== PLACES ====================== */
  .places {
    background-color: #010a20;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .places-list-item{
    margin-bottom: 50px;
  }
  .places-list-item:last-child{
    margin-bottom: 0;
  }
  .places-list-item-img {
    border-radius: 10px;
    margin-bottom: 40px;
  }
  .places-list-item-title {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  .places-list-item-text {
    margin-bottom: 20px;
  }

}

/*? ============================320-480========================================= */
@media screen and (max-width: 479px) {
  /* =================== HEADER ===================== */
}

/*? ============================480-768========================================= */

@media screen and (min-width: 480px) {
}

/*? ============================768-1000========================================= */
@media screen and (min-width: 768px) {
}

/*? ============================1000-1280========================================= */
@media screen and (min-width: 1000px) {
}
/*? ============================1280========================================= */
@media screen and (min-width: 1280px) {
}
